:root{
    --black: #3A3A3A;
    --pink: #E02C6D;
    --light-gray: #787885;
    --gray: #6C6C6C;
    --background-primary: #0A0826;
    --primary-font: 'Poppins', sans-serif;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--primary-font);
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 25px;
}

.btn{
    border: none;
    background-color: var(--pink);
    color: white;
    display: flex;
    align-items: end;
    gap: 5px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: large;
    margin-top: 20px;
}

.btn-primary{
    border-radius: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.hide{
    display: none;
}

.nav-items{
    display: flex;
    gap: 25px;
}

nav ul{
     display: flex;
     list-style: none;
     gap: 25px;
     font-weight: 500;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left{
    width: 40%;
}

.title{
    font-size: 3rem;
    color: var(--black);
}

.camera{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.line{
    height: 1px;
    background: linear-gradient(to right, rgba(192, 204, 218, 0.1), rgba(192, 204, 218, 0.6), rgba(192, 204, 218, 0.1));
}

.logo-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0;
}

.gallery-title{
    font-size: 2rem;
    color: var(--black);
    text-align: center;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px 0;
}

.card{
    padding: 15px;
    box-shadow: 1px 2px 5px rgb(234, 233, 233);
}

.card > img{
    width: 100%;
}

.card > h1{
    font-size: 1.5rem;
    color: var(--black);
    padding: 5px 0;
}

.card > p{
    color: var(--gray);
    font-weight: 500;
}

.price{
    color: var(--black);
    font-size: 1.5rem;
}

.ratings{
    display: flex;
}

.ratings > p{
    margin-left: 10px;
    color: var(--gray);
    font-weight: 500;
}

.btn-secondary{
    color: var(--pink);
    background: none;
}

.btn-div{
    justify-content: end;
    display: flex;
}

.featured{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
}

.featured h1{
    font-size: 2.2rem;
    margin-bottom: 5px;
}

.featured p{
    color: var(--gray);
    width: 65%;
}

.featured-left{
    width: 40%;
}

.featured-right{
    width: 60%;
}

footer{
    background-color: var(--background-primary);
    text-align: center;
    margin: 0 auto;
    color: white;
    line-height: 2;
    padding: 40px 0;
}

.icon-div{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}


/* Responsive */
@media only screen and (max-width: 500px){
    .hide{
        display: contents;
    }
    
    .nav-items{
        display: none;    
    }

    .nav h1{
        margin: auto;
    }

    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
    }

    .banner-left{
        width: 100%;
    }

    .title{
        font-size: 2.2rem;
        padding: 10px 0;
    }

    .btn-primary{
        margin: 15px auto;
    }

    .btn-tertiary{
        margin: 15px auto;
    }

    
.logo-container{
    gap: 20px;
}

.gallery{
    grid-template-columns: repeat(1, 1fr);
}

.btn-secondary{
    color: var(--pink);
    background: none;
}

.featured{
    flex-direction: column-reverse;
    gap: 30px;
}

.featured h1{
    font-size: 2.2rem;
    margin-bottom: 5px;
    text-align: center;
}
.featured-left{
    width: 100%;
}

.featured-right{
    width: 100%;
}

.featured p{
    width: 100%;
    text-align: center;
}

}